
body{
    margin: 0 auto;
    font-family: 'Rosario', sans-serif;
    max-width: 100vw;
}
.header{
    height: 10vh;
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 1;
}
.header ul{
    width: 50%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-left: 35%;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
}
.header ul li{
    display: flex;
    justify-content: space-between;
    margin: 2%;
}
a{
    text-decoration: none;
    color: white;
}
.screen{
    min-height: 90vh;
    width: 100%;
    border: 1px solid gray;
    position: relative;
    display: flex;
    overflow: hidden;
    
}
.gallery1{
    width: 19.2%;
    margin: 1%;
    position: absolute;
    transition: all 2s ease-in-out;
        
}
.gallery2{
    width: 24.2%;
    margin: 1%;
    position: absolute;
    transition: all 1s ease-in-out;
   
}
.screen img:nth-of-type(1){
    align-self: center;
    left: -250px;
}

.screen:hover img:nth-of-type(1) {
    translate: 250px;
}

.screen img:nth-of-type(2){
    left: -320px;
}
.screen:hover img:nth-of-type(2) {
    translate: 620px;
}

.screen img:nth-of-type(3){
    align-self: flex-end;
    left: -320px
}
.screen:hover img:nth-of-type(3) {
    translate: 620px;
}
.screen img:nth-of-type(4){
    right: -320px;
}
.screen:hover img:nth-of-type(4) {
    translate: -620px;
}
.screen img:nth-of-type(5){
    align-self: flex-end;
    right: -320px;
}
.screen:hover img:nth-of-type(5) {
    translate: -620px;
}
.screen img:nth-of-type(6){
    align-self: center;
    right: -250px;
}
.screen:hover img:nth-of-type(6) {
    translate: -250px;
}
.screen2 {
    min-height: 90vh;
    width: 100%;
    border: 1px solid gray;
    position: relative;
    display: flex;
    overflow: hidden;
}
.background{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background-repeat: no-repeat;
    background-image: url(..//img/servback.png);
}
.container{
    width: 50%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    position: relative;
}
.ring{
    position: absolute;
    margin: 5%;
    width: 35%;
    text-align: center;
}
.ring > div > img{
    width: 100%;
}
.container > .ring:nth-of-type(1){
   top: 2%;
   animation: rotate1 5s linear infinite;
}
.container > .ring:nth-of-type(2){
    bottom: 2%;
    animation: rotate2 5s linear infinite;
 }
 .container > .ring:nth-of-type(3){
    right: 0%;
    top: 2%;
    animation: rotate3 5s linear infinite;
 }
 .container > .ring:nth-of-type(4){
    right: 0;
    bottom: 2%;
    animation: rotate4 5s linear infinite;
 }

@keyframes rotate1 {
    0% {transform: translate(0%);}
    25% {transform: translate(320px);}
    50% {transform: translate(320px, 320px);}
    75% {transform: translate(0%, 320px)}
    }
@keyframes rotate2 {
        0% {transform: translate(0);}
        25% {transform: translate(0, -320px);}
        50% {transform: translate(320px, -320px);}
        75% {transform: translate(320px, 0)}
    }
@keyframes rotate3 {
        0% {transform: translate(0%);}
        25% {transform: translate(0, 320px);}
        50% {transform: translate(-320px,320px);}
        75% {transform: translate(-320px, 0px)}
    }
@keyframes rotate4 {
        0% {transform: translate(0%);}
        25% {transform: translate(-320px, 0px);}
        50% {transform: translate(-320px, -320px);}
        75% {transform: translate(0%, -320px)}
    }
    .screen3 {
        min-height: 90vh;
        width: 100%;
        border: 1px solid gray;
        position: relative;
        justify-content: space-between;
        overflow: hidden;
    }
    .screen3 > div{
        text-align: center;
        padding-top: 2%;
        font-family: 'Rosario';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
    }
.cards {
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: center;
}
.cards div{
    width: 100%;
    display: flex;
    margin: 2%;
    position: relative;   
}
.cards div:nth-of-type(1){
    background-image: url(..//img/team1.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 40px;
}
.cards div:nth-of-type(2){
    background-image: url(..//img/team2.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    overflow: hidden;
}
.cards div:nth-of-type(3){
    background-image: url(..//img/team3.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    overflow: hidden;
}
.cards div:nth-of-type(4){
    background-image: url(..//img/team4.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    overflow: hidden;
}
.cards p{
    margin: 0;
    padding-top: 10%;
    position: absolute;
    font-size: 36px;
    background: rgba(163, 83, 10, 0.7);
    width: 100%;
    height: 100px;
    color: white;
    bottom: 0;
    opacity: 0;
    transition: 1s;
}
.cards div:hover p{
    opacity: 1;
}
.screen4 {
    min-height: 90vh;
    width: 100%;
    border: 1px solid gray;
    position: relative;
    overflow: hidden;
}
.screen4 > div:first-child{
    width: 50%;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    
}
table  {
    top: 10%;
    padding-top: 2%;
    width: 50%;
    height: 40%;
    float: left;
    
}
td {
    border: 10px solid gray; 
    opacity: 0.5;
    border-radius: 10px;
}
input, textarea{
    border: none;
    font-size: 24px;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
   line-height: 44px;
   float: left;
}
.map{
    float: left;
}
.map iframe{
   width: 400px;
   height: 400px;
   
   margin: 2%;
   margin-left: 5%;
   margin-top: 0;
   border-radius: 10px;
}
.footer{
    position: relative;
    display: flex;
    width: 100%;
    height: 30%;
    bottom: 0;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
}
.footer div{
    width: 25%;
    text-align: center;
    font-size: 18px;
}
h3 {
    margin: 0;
}
.footer a{
    color: black;
}
.social{
    width: 100%;
    text-align: center;
    display: flex;
    position: relative;
}
.social ul {
    position: absolute;
    margin: 0;
    left: 80%;
    display: flex;
    flex-direction: column;
}
.social ul li{
    list-style: none;
}
.social ul li a{
    display: flex;
    text-align: center;
    right: 0;
}
.social img{
padding-right: 10px;
text-align: center;
}

@media screen and (min-width: 1620px) {
    body{
        margin: 0 auto;
        font-family: 'Rosario', sans-serif;
        max-width: 90vw;
    }
    .cards {
        width: 100%;
        display: flex;
        height: 80vh;
        justify-content: center;
    }
}

@media screen and  (max-width: 992px) and (min-width: 768px) {

.gallery1, .gallery2{
    height: 150px;
    width: auto;
    margin: 1%;
    position: absolute;
    transition: all 1s ease-in-out;
    
}

.screen img:nth-of-type(1){
    align-self: center;
    left: -150px;
}

.screen:hover img:nth-of-type(1) {
    translate: 450px;
}

.screen img:nth-of-type(2){
    left: -200px;
}
.screen:hover img:nth-of-type(2) {
    translate: 450px;
}

.screen img:nth-of-type(3){
    align-self: flex-end;
    left: -220px
}
.screen:hover img:nth-of-type(3) {
    translate: 450px;
}
.screen img:nth-of-type(4){
    right: -200px;
}
.screen:hover img:nth-of-type(4) {
    translate: -450px;
}
.screen img:nth-of-type(5){
    align-self: flex-end;
    right: -220px;
}
.screen:hover img:nth-of-type(5) {
    translate: -450px;
}
.screen img:nth-of-type(6){
    align-self: center;
    right: -150px;
}
.screen:hover img:nth-of-type(6) {
    translate: -450px;
}
.screen2 {
    min-height: 500px;
    width: 100%;
    border: 1px solid gray;
    display: flex;
    
    
}
.background{
    right: 25%;
    width: 500px;
    height: 200px;
    background-image: url(..//img/servback.png);
    background-size: cover;
    background-position: 0 -15rem;
}
.container{
    width: 500px;
    height: 300px;
    left: 25%;
    top: 13rem;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    
}
.ring{
    
    width: 35%;
    text-align: center;
}
.ring > div > img{
    width: 40%;
}
.container > .ring:nth-of-type(1){
   
   animation: rotate1 5s linear infinite;
}
.container > .ring:nth-of-type(2){
    
    animation: rotate2 5s linear infinite;
 }
 .container > .ring:nth-of-type(3){
    
    animation: rotate3 5s linear infinite;
 }
 .container > .ring:nth-of-type(4){
   
    animation: rotate4 5s linear infinite;
 }

@keyframes rotate1 {
    0% {transform: translate(0%);}
    25% {transform: translate(100%);}
    50% {transform: translate(100%, 100%);}
    75% {transform: translate(0%, 100%)}
    }
@keyframes rotate2 {
        0% {transform: translate(0);}
        25% {transform: translate(0, -100%);}
        50% {transform: translate(100%, -100%);}
        75% {transform: translate(100%, 0)}
    }
@keyframes rotate3 {
        0% {transform: translate(0%);}
        25% {transform: translate(0, 100%);}
        50% {transform: translate(-100%,100%);}
        75% {transform: translate(-100%, 0px)}
    }
@keyframes rotate4 {
        0% {transform: translate(0%);}
        25% {transform: translate(-100%, 0px);}
        50% {transform: translate(-100%, -100%);}
        75% {transform: translate(0%, -100%)}

}
.screen3 {
    min-height: 90vh;
    width: 100%;
    border: 1px solid gray;
    position: relative;
    
    overflow: hidden;
}
.screen3 > div{
    text-align: center;
    padding-top: 1%;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
.cards {
display: flex;
width: 100vw;
height: 80vh;
position: relative;

}
.cards div{
height: 45%;
width: 20rem;
margin: 0.5%;
position: absolute;   
}
.cards div:nth-of-type(1){
background-image: url(..//img/team1.png);
background-size: cover;
background-repeat: no-repeat;
background-position: 0 30%;
overflow: hidden;
border-radius: 40px;
left: 10rem;
}
.cards div:nth-of-type(2){
background-image: url(..//img/team2.png);
background-size: cover;
background-repeat: no-repeat;
border-radius: 40px;
overflow: hidden;
background-position: 0 20%;
left: 10rem;
top: 15rem;
}
.cards div:nth-of-type(3){
background-image: url(..//img/team3.png);
background-size: cover;
background-repeat: no-repeat;
border-radius: 40px;
overflow: hidden;
background-position: 0 30%;
right: 10rem;
top: 15rem;
}
.cards div:nth-of-type(4){
background-image: url(..//img/team4.png);
background-size: cover;
background-repeat: no-repeat;
border-radius: 40px;
overflow: hidden;
background-position: 0 30%;
right: 10rem;
}
.cards p{
margin: 0;
padding-bottom: 1rem;
position: absolute;
font-size: 24px;
background: rgba(163, 83, 10, 0.7);
width: 100%;
height: 30px;
color: white;
bottom: 0;
opacity: 0;
transition: 1s;
}

.screen4 {
    min-height: 90vh;
    width: 100%;
    border: 1px solid gray;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table  {
    top: 10%;
    padding-top: 2%;
    width: 30%;
    height: 20%;
        
}
td {
    border: 10px solid gray; 
    opacity: 0.5;
    border-radius: 10px;
}
input, textarea{
    border: none;
    font-size: 16px;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
   line-height: 16px;
 
}
.map{
  
}
.map iframe{
    width: 200px;
    height: 200px;
    
    margin: 2%;
    margin-left: 5%;
    margin-top: 0;
    border-radius: 10px;
}
}

    


@media screen and (max-width: 768px) {

    .header{
        margin: 0 auto;
        height: 15vh;
        width: auto;
        background-color: black;
        position: sticky;
        top: 0;
        display: flex;
        z-index: 1;
    }
    .header ul{
        width: 100%;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        font-family: 'Rosario';
        font-style: italic;
        font-weight: 700;
        font-size: 16px;
    }
   
    .screen{
       
        width: 100%;
        height: 220vh;
        margin: 0 auto;
        border: 1px solid gray;
        position: relative;
        display: flex;     
        
}
.gallery1{
    width: 20%;
    height: auto;
   margin: 1%;
         
}
.gallery2{
    width: 25%;
    height: auto;
    margin: 1%;
  }
.screen img:nth-of-type(1){
    top: 1%;
   
}
.screen:hover img:nth-of-type(1) {
   left: -130px;
}

.screen img:nth-of-type(2){
    top: 22%;
    right: 300px;
    transition-delay: 0.5s;
}
.screen:hover img:nth-of-type(2) {
    left: -150px;
}

.screen img:nth-of-type(3){
    top: 37%;
    right: 400px;
    transition-delay: 1s;
    
}
.screen:hover img:nth-of-type(3) {
    left: -150px;
   
}
.screen img:nth-of-type(4){
    top: 50%;
    right: -300px;
    transition-delay: 1.5s;
}
.screen:hover img:nth-of-type(4) {
    right: -195px;
    
}
.screen img:nth-of-type(5){
    top: 65%;
    right: -300px;
    transition-delay: 2s;
    
}
.screen:hover img:nth-of-type(5) {
    right: -195px;
    
}
.screen img:nth-of-type(6){
    top: 78%;
    transition-delay: 2.5s;
       
}
.screen2 {
    min-height: 85vh;
    width: 100%;
    border: 1px solid gray;
    position: relative;
    display: flex;
    overflow: hidden;
}
.background{
    display: none;
   
}
.container{
    width: 500px;
    height: 300px;
    left: 20%;
    top: 5rem;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    
}
.screen3 {
    min-height: 100vh;
    width: 100%;
    border: 1px solid gray;
    position: relative;
   
}
.screen3 > div{
    text-align: center;
    padding-top: 2%;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
.cards {
display: flex;
width: 100vw;
height: 85vh;
position: relative;
justify-content: space-between;

}
.cards div{
width: 40%;
height: 40%;

}
.cards div:nth-of-type(1){
background-image: url(..//img/team1.png);
background-size: cover;
background-repeat: no-repeat;
overflow: hidden;
border-radius: 10px;
left: 5%;
}
.cards div:nth-of-type(2){
background-image: url(..//img/team2.png);
background-size: cover;
background-repeat: no-repeat;
border-radius: 10px;
overflow: hidden;
left: 5%;
}
.cards div:nth-of-type(3){
background-image: url(..//img/team3.png);
background-size: cover;
background-repeat: no-repeat;
border-radius: 10px;
overflow: hidden;
right: 5%;
}
.cards div:nth-of-type(4){
background-image: url(..//img/team4.png);
background-size: cover;
background-repeat: no-repeat;
border-radius: 10px;
overflow: hidden;
right: 5%;
}
.cards p{
margin: 0;
font-size: 20px;
writing-mode: vertical-lr;
background: rgba(163, 83, 10, 0.7);
width: 20%;
height: 100%;
color: white;
opacity: 0;
transition: 1s;
}
.cards div:hover p{
opacity: 1;
}

.screen4 {
    min-height: 90vh;
    width: 100%;
    border: 1px solid gray;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table  {
    top: 10%;
    padding-top: 2%;
    width: 30%;
    height: 20%;
    order: 2;
        
}
td {
    border: 10px solid gray; 
    opacity: 0.5;
    border-radius: 10px;
}
input, textarea{
    border: none;
    font-size: 16px;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
   line-height: 16px;
   order: 1;
 
}
.map{
    order: 1;
  
}
.map iframe{
    width: 200px;
    height: 200px;
    
    margin: 2%;
    margin-left: 5%;
    margin-top: 0;
    border-radius: 10px;
}
.footer{
    order: 3;
}
}